.dashboard-container {
    position: relative;
    overflow: hidden;
    background-image: url('../../src/assests/dashboard-background.jpg');
    background-repeat: no-repeat;
    z-index: 0;
    /* background-size: cover; */
}

/* .input-error-button {
    border: 2px solid white !important;
    border-radius: 30px !important;
} */

.message-error-button {
    color: white !important;
    font-size: 11.2px "Open Sans Regular" !important;
}

/* .TopColumn{
    background-color: red;
    height: 478px;
} */

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}


.menuButton {
    position: relative;
    background-color: white !important;
    opacity: 75% !important;
    z-index: 1;
    border: 3px solid red !important;
    border-radius: 100% !important;
    left: 35px;
    top: 30px;
}

.menuNormal img {
    transform: scale(1.0);
    transition: transform 1.5s ease;
}

.menuFocus img {
    transform: scale(1.2);
    transition: transform 1.5s ease;
}

.menuFocus {
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.menu {

    position: relative;
    top: 100px !important;
    left: 30px !important;
    transition: 500ms ease;
}

.menuHidden {
    transition: 500ms ease;
    position: relative;
    top: 100px !important;
    left: -70px !important;
}

.menuItem {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    background-color: white !important;
    border: 3px solid red !important;
    border-radius: 50% !important;
}

.menuName {
    position: absolute;
    top: 5px;
    border-radius: 25px;
    width: 180px !important;
    z-index: -1;
    background-color: white;
}

.menu .row {
    width: 200px !important;
}

.hide1,
.hide2,
.hide3,
.hide4,
.hide5,
.hide6 {
    transition: 500ms ease;
    width: 15px !important;
    overflow: hidden;
    height: 40px !important;
}

.show {
    /* z-index: 1; */
    background-color: red;
    color: white;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    transition: 500ms ease;
    overflow: hidden;
}

.searchBoxContainer {
    color: white;
    background-color: red;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    border-radius: 25px;
    height: fit-content;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

input,
input:focus {
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
}

.inputBLockLabel {
    background-color: white !important;
    border: 1ps solid red;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 150px !important;
    margin-right: 1px !important;

}

.inputField, .input-error-button {
    background-color: white !important;
    border: none !important;
    border-radius: 0px !important;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    outline: none !important;
    box-shadow: none !important;
    width: 250px !important;
}

.notice{
    border: 2px solid white;
}

.searchButton {
    border: 5px solid red !important;
    box-shadow: 0 0 10px rgb(255, 0, 0);
    border-radius: 25px;
    background-color: white !important;
    color: red;
    font-size: large !important;
    font-weight: 600;
    height: fit-content !important;
}

.profileSection {
    position: relative;
    top: 25px;
    right: 30px;
    width: 200px;
    height: fit-content;
    border: none;
    background-color: red !important;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.dpRow {
    position: absolute;
    top: 20px;
    left: 20px;
}

.hideProfile {
    width: 60px !important;
    overflow: hidden;
    border-radius: 50% !important;
    transition: width 500ms ease, border-radius 0.5s ease;
}

.showProfile {
    width: 200px !important;
    border-radius: 30px !important;
    transition: width 500ms ease, border-radius 0.5s ease;
}

.hideUserName {
    display: none;
    transition: display 500ms ease;
}

.showUserName {
    display: inline;
    transition: display 500ms ease;
}


.profileSection img,
.menuItem img {
    transition: transform 0.5s ease;
}

.hideProfile img,
.hideImgMenu {
    transform: scale(1.0);
}

.showProfile img,
.showImgMenu {
    transform: scale(1.2);
}

.weatherBox {
    background-color: white;
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.topFirstRow {
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 25px;
}